## Check the status of one or more biosamples in Majora

<code>/artifact/biosample/query/validity</code>


### Attributes
```json--raw
{
    "biosamples": [
        {}
    ],
    "token": "6e06392f-e030-4cf9-911a-8dc9f2d4e714",
    "username": "majora-sam"
}
```
<blockquote class="lang-specific shell--ocarina"><p>Function not currently implemented in Ocarina command line interface</p></blockquote>
<blockquote class="lang-specific python"><p>Function not currently implemented in Ocarina Python API</p></blockquote>
<blockquote class="lang-specific plaintext--uploader"><p>Function not currently implemented in CGPS Metadata Uploader</p></blockquote>

Name | Description | Options
---- | ----------- | -------


